# .dockerignore
#
# ...For Node.js portion of this backend app:
# Credits 1: https://shisho.dev/blog/posts/how-to-use-dockerignore/
# Credits 2: https://hn.mrugesh.dev/how-to-use-a-dockerignore-file-a-comprehensive-guide-with-examples
**/node_modules/
**/dist
.git
.gitignore
*.log
npm-debug.log
.coverage
.coverage.*
.env
.aws

